{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline" style="margin-bottom: 0">
        {{ title }}
    </h3>
    <p style="margin-top: 0.1">
        <i>{{ post.author }}</i><br>
        {{ post.venue }}<br>
        {% if post.doi %}
            [<a href="{{ post.doi }}">DOI</a>] 
        {% endif %}
        {% if post.arxiv %}
            [<a href="{{ post.arxiv }}">Arxiv</a>]
        {% endif %}
    </p>
  </article>
</div>
